.menuTop{
    float: right;
    background-image: url(../images/svg/vectorMenuTop.png);
    width: 906px;
    height: 993px;
    background-repeat: no-repeat;
}

#integrateApp {
    background-image: url(../images/svg/integrateApp1.png);
    width: 1681px;
    height: 1325px;
    background-repeat: no-repeat;
}



