.menuTop{
    float: right;
    background-image: url(../images/svg/vectorMenuTop.png);
    width: 906px;
    height: 993px;
    background-repeat: no-repeat;
}

#integrateApp {
    background-image: url(../images/svg/integrateApp1.png);
    width: 1681px;
    height: 955px;
    background-repeat: no-repeat;
}

.getStartedSVG {
    float: right;
    background-image: url(../images/svg/GetStarted.png);
    width: 664px;
    height: 628px;
    margin: -100px 155px 0 0;
    background-repeat: no-repeat;
}

